<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aloha.mapper.StoryMapper">

	<insert id="create" >
		INSERT INTO story( title, content, writer ) 
			VALUES ( #{title}, #{content}, #{writer} )
	</insert>
	
	
	<select id="read" resultType="Story">
		SELECT * 
		FROM story
		WHERE board_no = #{boardNo}
	</select>


	<update id="update" >
		UPDATE story
		SET   title = #{title}
		     ,content = #{content}
		     ,writer = #{writer}
		WHERE board_no = #{boardNo}
	</update>

	<delete id="delete">
		DELETE
		FROM story
		WHERE board_no = #{boardNo}
	</delete>
	
	<select id="searchWithPage" resultType="Story">
		<![CDATA[
			SELECT  @rownum := @rownum+1 row_no, b.*
			FROM ( 
					SELECT @rownum := #{startRowIndex} 
					FROM dual
				 ) tmp
				 ,story b
			WHERE board_no > 0
			  AND ( 
			  		  title LIKE CONCAT('%', #{keyword}, '%')
			  	   OR content LIKE CONCAT('%', #{keyword}, '%')
			  	   OR writer LIKE CONCAT('%', #{keyword}, '%')
			  	  )
			ORDER BY group_no DESC
			        ,seq_no ASC
			        ,depth_no ASC
			        ,reg_date DESC
			LIMIT #{startRowIndex}, #{rowsPerPage}
		]]>
	</select>
	
	
	<insert id="uploadFile">
		<selectKey resultType="int" keyProperty="boardNo" order="BEFORE">
	        SELECT MAX(board_no) FROM story        
	    </selectKey>  
		INSERT INTO story_attach ( full_name, file_name, board_no, category, seq) 
					VALUES ( #{fullName}, #{fileName}, #{boardNo}, #{category}, #{seq} )
	</insert>
	
	
	<insert id="uploadUpdateFile" parameterType="StoryAttach">
		INSERT INTO story_attach ( full_name, file_name, category, board_no ,seq) 
					VALUES ( #{fullName}, #{fileName}, #{category}, #{boardNo} ,#{seq} )
	</insert>


	<select id="readFileList" resultType="StoryAttach">
		SELECT * 
		FROM story_attach
		WHERE board_no = #{boardNo}
	</select>
	
	<select id="readThumbnail" resultType="StoryAttach">
		SELECT * 
		FROM story_attach
		WHERE board_no = #{boardNo}
		 AND category = 'thumbnail'
	</select>

	<select id="readFile" resultType="StoryAttach">
		SELECT * 
		FROM story_attach
		WHERE file_no = #{fileNo}
	</select>
	
	
	<delete id="deleteFile">
		DELETE FROM story_attach
		WHERE file_no = #{fileNo}
	</delete>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) as totalCount
		FROM story
	</select>
	
	<select id="totalCountByKeyword" resultType="int" parameterType="Page">
		SELECT COUNT(*) as totalCount
		FROM story
		WHERE board_no > 0
			  AND ( 
			  		  title LIKE CONCAT('%', #{keyword}, '%')
			  	   OR content LIKE CONCAT('%', #{keyword}, '%')
			  	   OR writer LIKE CONCAT('%', #{keyword}, '%')
			  	  )
	</select>

	<!-- [페이지] 전체 게시글 조회 -->
	<select id="listWithPage" parameterType="Page" resultType="Story">
	<!-- #{startRowIndex} -->
		<![CDATA[
			SELECT @rownum := @rownum+1 row_no, 
					thumbnail.full_name thumbnail_path, thumbnail.file_name, thumbnail.category,
			        g.*
			FROM ( 
					SELECT @rownum := 0
					FROM dual
				 ) tmp
				 ,story g
				  LEFT JOIN ( SELECT * FROM story_attach WHERE category = "thumbnail" ) thumbnail ON g.board_no = thumbnail.board_no
			ORDER BY group_no DESC
			        ,seq_no ASC
			        ,depth_no ASC
			        ,reg_date DESC
			LIMIT #{startRowIndex}, #{rowsPerPage}		
		]]>
	</select>
	
	
	<insert id="replyCreate" >
		INSERT INTO story_reply ( board_no, content, writer )
					VALUES ( #{boardNo}, #{content}, #{writer} )
	</insert>
	
	<select id="replyList" resultType="Reply">
		SELECT reply_info.*, img.full_name
		FROM (
				SELECT reply.*, info.user_no
				FROM story_reply reply
					,member_info info
				WHERE reply.writer = info.nickname
				  AND reply.board_no = #{boardNo}
		) reply_info
		  LEFT JOIN (SELECT *  from member_img img WHERE category = 'thumbnail') img
		  ON reply_info.user_no = img.user_no
		  ORDER BY reply_info.reply_no DESC
				  ,reply_info.reg_date DESC
	</select>
	
	
	<update id="replyUpdate" >
		UPDATE story_reply
		SET   content = #{content}
		     ,writer = #{writer}
		WHERE reply_no = #{replyNo}
	</update>
	
	<delete id="replyDelete" parameterType="Int">
		DELETE FROM story_reply
		WHERE reply_no = #{replyNo}
	</delete>
	
	
	<select id="getFullName" resultType="string">
		SELECT  full_name
		FROM 	story_attach
		WHERE 	board_no = #{boardNo}
		ORDER BY seq
	</select>
	
	<select id="getAttach" resultType="StoryAttach">
		SELECT  *
		FROM 	story_attach
		WHERE 	board_no = #{boardNo}
		ORDER BY seq
	</select>
	
	
	<!-- 그룹번호 수정 -->
	<update id="updateGroupNo">
		UPDATE story
		SET group_no = #{groupNo}
		WHERE board_no = #{boardNo}
	</update>
	
	<!-- MAX(글번호) -->
	<select id="maxBoardNo" resultType="int">
		SELECT MAX(board_no)
		FROM story
	</select>
	
	<!-- 답글 쓰기 -->
	<insert id="answerCreate">
		INSERT INTO story( title, content, writer, group_no, depth_no, seq_no ) 
					VALUES ( #{title}, #{content}, #{writer}, #{groupNo}, #{depthNo}, #{seqNo} )
	</insert>
	
	<!-- 계층번호 조회 -->
	<select id="readDepthNo" resultType="int">
		SELECT depth_no
		FROM story
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 그룹번호 조회 -->
	<select id="readGroupNo" resultType="int">
		SELECT group_no
		FROM story
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- MAX(seq_no) 조회 -->
	<select id="maxSeqNo" resultType="int">
		SELECT MAX(seq_no)
		FROM story
	</select>
	
	
	<!-- 그룹번호 게시글 개수 -->
	<select id="countAnswer" resultType="int">
		SELECT COUNT(*)
		FROM story
		WHERE group_no = #{groupNo}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="view">
		UPDATE story
		SET view = view + 1
		WHERE board_no = #{boardNo}
	</update>

	<!-- 기존 섬네일 취소하기 -->
	<update id="cancelThumbnail">
		UPDATE story_attach
		SET category = #{category}
		WHERE board_no = #{boardNo}
			AND category = 'thumbnail'
	</update>
	
	<!-- 대표이미지(thumbnail) 변경 -->
	<update id="updateThumbnailNo">
		UPDATE story_attach
		SET seq = 0
			,category = 'thumbnail'
		WHERE board_no = #{boardNo}
			AND seq = #{thumbnailNo}
	</update>
	
	<!-- 첨부파일 순서 초기화 -->
	<update id="initSeq">
		<![CDATA[
			UPDATE story_attach
			SET seq = seq + 1
			WHERE board_no = #{boardNo}
				AND seq < #{thumbnailNo}
				AND category != 'thumbnail'
		]]>
	</update>
	
	<!-- maxSeqByBoardNo -->
	<select id="maxSeqByBoardNo" resultType="int">
		SELECT MAX(seq)
		FROM story_attach
		WHERE board_no = #{boardNo}
	</select>
	
	
	<!-- 댓글개수 -->
	<select id="replyCount" resultType="int">
		SELECT COUNT(*) as reply_count
		FROM story_reply
		WHERE board_no = #{boardNo}
	</select>
	
</mapper>