<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aloha.mapper.TagMapper">
	<!-- tag -->
	<insert id="createTag">
		<selectKey resultType="int" keyProperty="boardNo" order="BEFORE">
	        SELECT MAX(board_no) FROM ${table}        
	    </selectKey>  
		INSERT INTO tags ( table, board_no, name ) 
					VALUES ( #{table},#{boardNo}, #{name} )
	</insert>
</mapper>