<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aloha.mapper.TagMapper">
	<!-- 태그 등록 -->
	<insert id="createTag">
		<selectKey resultType="int" keyProperty="boardNo" order="BEFORE">
	        SELECT MAX(board_no) FROM ${tableName}  
	    </selectKey>  
	    <![CDATA[
		INSERT INTO tag( board_no, table_name, name ) 
					VALUES ( #{boardNo}, #{tableName}, #{name} )
	    ]]>
	</insert>
	
	<!-- 태그 조회 -->
	<select id="readTagList" resultType="tag">
		SELECT *
		FROM tag
		WHERE table_name = #{tableName}
			AND board_no = #{boardNo}
	</select>
	
</mapper>