<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p style="font-size: 24px;">서비스에 <b style="color: #002e60; font-size: 24px;">접속할 수 없습니다.</b></p>
<div class="h50"></div>
<p style="font-size: 18px;">죄송합니다. 기술적인 문제로</p>
<p style="font-size: 18px;">일시적으로 접속되지 않습니다.</p><br>
<p style="font-size: 18px;">잠시 후 다시 이용 부탁드리며</p>
<p style="font-size: 18px;">이용에 불편을 드려 사과드립니다.</p>

<a href="/" class="btn btn_submit">메인으로 가기</a>
</body>
</html>