<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
	<div class="gnb" th:fragment="menu">
		<ul class="gnb_in clfix">
			<li><a href="../index.html" th:href="@{/}">Home</a></li>
			<th:block sec:authorize="!isAuthenticated()">
				<li><a href="#" th:href="@{/subpage/board/list}">게시판</a></li>				
			</th:block>
			<th:block sec:authorize="isAuthenticated()">
				<!-- 관리자 권한 메뉴 -->
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<li><a href="#" th:href="@{/}">관리자 게시판</a></li>
				</th:block>
							<!-- 회원 권한 메뉴 -->
				<th:block sec:authorize="hasRole('ROLE_USER')">
					<li><a href="#" th:href="@{/subpage/board/list}">회원 게시판</a></li>
				</th:block>
			</th:block>			
		</ul>
	</div><!-- //gnb -->
</body>
</html>











