<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/single_template}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">

	<script th:inline="javascript">
	
		$(function(){
		
			var msg = [[${msg}]];
			
			if( msg != undefined && msg != null && msg != ""){
				alert(msg);
			}
			 
			setTimeout(function(){
				
				top.window.close();
			},1000);
			
		});
	</script>
	
</div>

</body>
</html>