<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/main_template}"
	  >

<head>
<meta charset="UTF-8">
<title>Board</title>
</head>
<body>
<div layout:fragment="content">
<script src="/js/sub.js"></script>
<script>
		
		$(document).ready(function() {
			var pageNum = "[[${page.pageNum}]]";
			var rowsPerPage = "[[${page.rowsPerPage}]]";
			var totalCount = "[[${page.totalCount}]]";
			var keyword = "[[${page.keyword}]]";
			var pageCount = "[[${page.pageCount}]]";
			var keyword = "[[${page.keyword}]]";
			
			var lastPage = "[[${page.lastPage}]]";
			
			
			// 페이지당 게시글 수 초기화
			$("#rowsPerPage option[value=" + rowsPerPage + "]").attr("selected", "selected");
			
			// 노출 페이지 수 초기화
			$("#pageCount option[value=" + pageCount + "]" ).attr("selected", "selected");
			
			
			// 줄 보기 변경 이벤트
			$('#rowsPerPage').on('change', function() {
				rowsPerPage = $(this).val();
				
				location.href = "/subpage/gallery/list?pageNum=" + 1
										+ "&totalCount=" + totalCount
										+ "&rowsPerPage=" + rowsPerPage
										+ "&pageCount=" + pageCount
										+ "&keyword=" + keyword;
										
				
			});
			
			// 노출 페이지 개수 변경 이벤트
			$('#pageCount').on('change', function() {
				pageCount = $("#pageCount").val();
				
				location.href = "/subpage/gallery/list?pageNum=" + 1 
										 + "&totalCount=" + totalCount 
										 + "&rowsPerPage=" + rowsPerPage
										 + "&pageCount=" + pageCount
										 + "&keyword=" + keyword;
			});
			
			
			// 페이지 변경 이벤트
			$('#page_input').on('change',function(){
				var inputPageNum = $(this).val();
				
				if( inputPageNum >= 1 && inputPageNum <= lastPage){					
					location.href = "/subpage/story/list?pageNum=" 	 + inputPageNum
																	 + "&totalCount=" + totalCount 
																	 + "&rowsPerPage=" + rowsPerPage
																	 + "&pageCount=" + pageCount
																	 + "&keyword=" + keyword;
				}else{
					alert("존재하지 않는 페이지이거나 이동할 수 없습니다.");
					$(this).val(pageNum);
				}
					
			});
			
			
		});
		
</script>
	<div class="content_wrap">
	
		<div class="top_area clfix">
			<div class="right">
				<a href="register.html" th:href="@{register}" class="btn mrr15">글쓰기</a>
			</div>
		</div>
		
		<div class="board_wrap">
            <ul class="clfix">
              <li class="" th:each="story : ${list}">
                <a href="javascript:;" title="" th:href="@{|/subpage/story/read?boardNo=${story.boardNo}|}">
                  <div class="img">
					<th:block th:if="${story.thumbnailPath} != null">
						<img th:src="@{|/file/displayFile?fileName=${story.thumbnailPath}|}" />
					</th:block>
					<th:block th:if="${story.thumbnailPath} == null">
						<img th:src="@{/image/no_img.png}" />
					</th:block>
                  </div>
                  <div class="txt">
                    <span class="date" th:text="${#dates.format(story.regDate, 'yyyy-MM-dd')}">2021.11.11 00:00:00</span>
                    <p class="title" th:text=${story.title}></p>
                  </div>
                  <div class="cnt_wrap">
                    <span class="cnt_reply" th:text="${story.replyCount}">1</span>
                    <span class="cnt_view" th:text="${story.view}"></span>
                  </div>
                </a>
              </li>
            </ul>
          </div><!-- //board_wrap -->


		<!-- paging -->
		  <div th:object="${page}" class="paging_story">
		
				<a th:href="|list?pageNum=*{firstPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="첫 페이지" class="first">첫 페이지</a>
				<th:block th:if="${page.prev > 0 }">
					<a th:href="|list?pageNum=*{prev}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="이전"  class="prev">이전</a>
				</th:block>	
				<div class="paging_input">
					<input type="text" name="" th:value="${page.pageNum}" id="page_input">
					of <em class="paging_total" th:text="${page.lastPage}">3</em>
				</div>
				<th:block th:if="${page.next <= page.lastPage }">
					<a th:href="|list?pageNum=*{next}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="다음" class="next">다음</a>
				</th:block>
				<a th:href="|list?pageNum=*{lastPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="끝 페이지" class="last">끝 페이지</a>
		
			</div><!--paging_story  -->
		
		
	</div>
</div>
</body>
</html>






