
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/main_template}"
	  >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body>
<div layout:fragment="content">
<script src="/js/sub.js"></script>
<script>
	$(document).ready(function() {
		
		var form = $('#board');
		var reply_size;
		
		// 수정 버튼 클릭 이벤트
		$('#btnModify').on('click',function(){
			var boardNo = $("#boardNo").val();
			
			self.location = "modify?boardNo=" + boardNo;
			
			
		});
		
		// 삭제 버튼 클릭 이벤트
		$('#btnRemove').on('click',function(){
			form.attr("action", "/subpage/gallery/remove");
			form.attr("method", "post");
			form.submit();
		});

		// 목록 버튼 클릭 이벤트
		$('#btnList').on('click',function(){
			self.location  = "list";
		});
		
		// 댓글 등록 버튼 클릭 이벤트
		$('#btnReplyRegister').on('click',function(){
			var reply = $(this).closest('.reply_write').find('textarea');
			var reply_writer = $('#replyWriter').val(); 
			var reply_content = reply.val();
			var board_no = $("#boardNo").val();
			
			writeReply( board_no, reply_writer, reply_content );
// 			test( board_no, reply_writer, reply_content );
			$('.replySize').text(replySize()+1);
			
		});
		
		
		// 댓글 수정 버튼 클릭 이벤트
		$('.btnReplyModify').on('click', function() {
			var reply_list = $(this).parent().parent();
			reply_list.children('div').remove('.re_write_wrap'); 
			var reply_no = $(this).attr('data');
			console.log(reply_list.children('.info').find('.replyWriter').text());
			var reply_writer = $(this).parent().siblings('.info').children('.replyWriter').text();
			var reply_content = reply_list.children('.replyContent').text();

			var edtitor = "<div class='re_write_wrap'> "
				+ "<h3>댓글 수정하기</h3>"
				+ "<textarea rows='3' cols='' class='w-100'>" + reply_content + "</textarea>"
				+ "<div class='writer_info'>"
				+ "<input type='text' name='replyWriter' class='writer replyWriter' value=" + reply_writer + " >"
				+ "<input type='button' value='댓글수정' class='btn_reply btnReplyRegister' data='" + reply_no + "'>"
				+ "</div>"
				+ "</div>"
						
			reply_list.append(edtitor);
						
						
						
			// 댓글 수정 등록
			$('.btnReplyRegister').on('click', function() {
				var btn = $(this);
				var reply_no = btn.attr('data');
				var board_no = $('#boardNo').val();
				var reply_writer = btn.siblings('.replyWriter').val();
				var reply_content = btn.parent().parent().children('textarea').val();
				
				console.log('reply_no : ' + reply_no);
				console.log('reply_writer : ' + reply_writer);
				console.log('reply_content : ' + reply_content);
				
				updateReply( reply_no, board_no, reply_writer, reply_content );
				
			});
						
		});
		
		//댓글 삭제
		$('.btnReplyRemove').on('click', function() {
			var reply_no = $(this).attr('data');
			var board_no = $('#boardNo').val();
			//reply_size = $('.reply_box').length;
			//$('.replySize').text(reply_size);
			
			removeReply(reply_no, board_no);
			
			$('.replySize').text(replySize()-1);
			
		});
		
		//댓글 개수 구하기
		function replySize(){
			reply_size = $('.reply_box').length;
			console.log(reply_size);
			return reply_size;
		}
		
		
		
		
		// 이미지 타입인지 확인
		function checkImageType( fileName ){
			var pattern = /jpg|gif|png|jpeg/i;
			
			return fileName.match(pattern);
		}
		
		
		// 파일 이름 확인
		function getOriginalName( fileName ){
			
			var idx = fileName.indexOf("_") + 1;
			return fileName.substr(idx);
		}
		
		// 첨부파일 가져오기
		var boardNo = [[${story.boardNo}]];
		
		$.getJSON("/subpage/story/getAttach/" + boardNo, function(list){
			
			$(list).each(function(){
				console.log("data : " + this);
				
				var data = this;		// 파일 경로
				var str = "";
				
				if(checkImageType(data)){
					str = "<div><a href='/file/displayFile?fileName=" + data + "'>"
						+ "<img src='/file/displayFile?fileName=" + data + "'/>"
						+ "</a></div>";
				}
				else{
					str = "<div><a href='/file/displayFile?fileName=" + data + "'>" 
						+ getOriginalName(data) + "</a>"
						+ "</div></div>";
				}
			  
				$(".attachList").append(str);
			});
			
			
			
		});
		
		
		
	});
	// ready (end)
	
	// 댓글 등록
	function writeReply( board_no, reply_writer, reply_content ) {
		console.log("board_no : " + board_no);
		console.log("reply_writer : " + reply_writer);
		console.log("reply_content : " + reply_content);
		
		$.ajax({
		    url:		'replyRegister', 			//request 보낼 서버의 경로
		    type:		'get', 										// 메소드(get, post, put 등)
		    data:		{	
	    					'boardNo'	: board_no,
	    					'writer'	: reply_writer,
	    					'content'	: reply_content
		    			},				 				//보낼 데이터
		    dataType : 	"text",
		    success: function(data) {
		        //서버로부터 정상적으로 응답이 왔을 때 실행
		        $('#replyList').empty();
		        $('#replyList').append(data);
		        
		        var userId = "[[${userId}]]";
		        $('#replyWriter').val(userId);
		        $('#replyContent').val('');
		        
		    },
		    error: function(request,status,error) {
		        //서버로부터 응답이 정상적으로 처리되지 못했을 때 실행
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
		        console.log("code = "+ request.status + " message = " + request.responseText + " error = " + error);
		    }
		});
		
	}
	
	
	// 댓글 수정
	function updateReply( reply_no, board_no, reply_writer, reply_content ) {
		
		$.ajax({
		    url:		'replyModify', 		//request 보낼 서버의 경로
		    type:		'get', 						// 메소드(get, post, put 등)
		    data:		{	
	    					'replyNo'	: reply_no,
	    					'boardNo'	: board_no,
	    					'writer'	: reply_writer,
	    					'content'	: reply_content
		    			},				 				//보낼 데이터
		    dataType : 	"text",
		    success: function(data) {
		        //서버로부터 정상적으로 응답이 왔을 때 실행
		        $('#replyList').empty();
		        $('#replyList').append(data);
		        
		        // $('.reply_modify').remove();
		    },
		    error: function(request,status,error) {
		        //서버로부터 응답이 정상적으로 처리되지 못했을 때 실행
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
		        
		    }
		});
		
	}
	
	
	
	// 댓글 삭제
	function removeReply( reply_no, board_no ) {
		
		$.ajax({
		    url:		'replyRemove', 		//request 보낼 서버의 경로
		    type:		'get', 						// 메소드(get, post, put 등)
		    data:		{	
	    					'replyNo'	: reply_no,
	    					'boardNo'	: board_no
	    					
		    			},				 				//보낼 데이터
		    dataType : 	"text",
		    success: function(data) {
		        //서버로부터 정상적으로 응답이 왔을 때 실행
		        $('#replyList').empty();
		        $('#replyList').append(data);
		        
		        // $('.reply_modify').remove();
		    },
		    error: function(request,status,error) {
		        //서버로부터 응답이 정상적으로 처리되지 못했을 때 실행
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
		        
		    }
		});
		
	}
	
	
</script>
	<div class="content_wrap">
		<form th:action="@{remove}" method="post" enctype="multipart/form-data">
			<input type="hidden" id="boardNo" name="boardNo" th:value="${story.boardNo}"/>
		</form>
		<div class="sub_title type2">
            <em class="date" th:text="${#dates.format(story.regDate, 'yyyy-MM-dd HH:mm:ss')}">2020.10.10 00:00:00</em>
            <h4 class="title" th:text="${story.title}">#2021 #리뉴얼 #UI/UX #Design</h4>
            <span class="writer" th:text="${story.writer}">admin</span>
            <span class="view" th:text="${story.view}">조회수 : 15</span>
        </div><!-- //sub_title -->

          <div class="board_detail">

            <div class="detail_con">
              <!-- 게시글(s) -->
              <!-- 이미지 -->
              <div>
				<div class="attachList">
				</div>
			  </div>
			  
			  <!-- 내용 -->
			  <div th:text="${story.content}">
			  	
			  </div>
              <!-- 게시글(e) -->
            </div><!-- //detail_con -->


            <div class="board_etc">
            <!-- board, gallery, story 각각 테이블에서 첨부파일 가져오도록 로직수정 -->
			<!-- 첨부파일 없을 때는 0 으로 표시  -->
              <div class="file_wrap" >
                <a th:href="|/file/zipDownload?boardNo=${story.boardNo}&title=${story.title}&table=story_attach|" target="_blank" title="다운로드" class="filedownload">
                	첨부 [<b th:text="${#lists.size(files)}">1</b>]</a>
              </div>
              <div class="board_redel">
                <a href="javascript:;" title="" class="redel"></a>
                <div class="btn_redel">
                  <a href="javascript:;" title="" id="btnModify">수정</a>
                  <a href="javascript:;" title="" id="btnRemove">삭제</a>
                </div>
              </div>
              <div class="tag">
              	<th:block  th:each="tag : ${tagList}">
              		<a href="javascript:;" title="" th:text="${tag.name}"></a>
              	</th:block>
              </div>
            </div><!-- //board_etc -->

            <div class="board_btn_area">
              <a href="javascript:;" title="" class="btn_board_back" id="btnList">목록</a>
            </div><!-- //board_btn_area -->

            <div class="reply_wrap">
              <div class="reply_cnt">댓글 <b th:text="${replyList.size()}" class="replySize">2</b>개</div>

              <div class="reply_list reply2" id="replyList">
              
				<div class="reply_box" th:each="reply:${replyList}">
					<div class="profile">
			          <img src="images/sub/story/profile_test.png" alt="">
			        </div>
			        <div class="info">
			        	<p class="name replyWriter" th:text=${reply.writer}></p>
			        	<p class="date replyDate" th:text="${#dates.format(reply.regDate, 'yyyy-MM-dd')}"></p>
			        </div>
					<div class="text replyContent" th:text=${reply.content}></div>
					<div class="btn"  th:if="${reply.writer == userId}">
			           <a href="javascript:;" title="" class="re_reply">댓글</a>
			           <a href="javascript:;" title="" class="re_write btnReplyModify" th:data="${reply.replyNo}">수정</a>
			           <a href="javascript:;" title="" class="re_delete btnReplyRemove"  th:data="${reply.replyNo}">삭제</a>
			         </div>			
				</div>
				
               <!--<div class="reply_box">
                   <div class="profile">
                    <img src="images/sub/story/profile_test.png" alt="">
                  </div>
                  <div class="info">
                    <p class="name">test</p>
                    <p class="date">2021.12.12 00:00</p>
                  </div>
                  <div class="text">
                    테스트 댓글입니다.
                  </div>
                  <div class="btn">
                    <a href="javascript:;" title="" class="re_reply">댓글</a>
                    <a href="javascript:;" title="" class="re_write">수정</a>
                    <a href="javascript:;" title="" class="re_delete">삭제</a>
                  </div> -->
                  <!-- <div class="re_write_wrap">
                    <h3>댓글 수정하기</h3>
                    <textarea rows="3" class="w100"></textarea>
                    <div class="writer_info">
                      <input type="text" name="" maxlength="10" placeholder="글쓴이" class="writer">
                      <input type="password" name="" maxlength="4" placeholder="비밀번호" class="reply_pw">
                      <input type="text" name="" placeholder="홈페이지" class="reply_url">

                      <input type="button" name="" value="댓글수정" class="btn_reply">
                    </div>
                  </div> 

                </div>-->
                 <!-- 
                <div class="reply_box reply_as">
                  <div class="profile">
                    <img src="images/sub/story/profile_test.png" alt="">
                  </div>
                  <div class="info">
                    <p class="name">test</p>
                    <p class="date">2021.12.12 00:00</p>
                  </div>
                  <div class="text">
                    테스트 댓글입니다.
                  </div>
                  <div class="btn">
                    <a href="javascript:;" title="" class="re_reply">댓글</a>
                    <a href="javascript:;" title="" class="re_write">수정</a>
                    <a href="javascript:;" title="" class="re_delete">삭제</a>
                  </div>

                  <div class="reply_chk_pw">
                    <h5>비밀번호를 입력해주세요</h5>
                    <input type="password" name="" maxlength="4" placeholder="비밀번호" class="reply_pw">
                    <input type="button"  name="" value="확인" class="btn_chk">
                  </div>
                  //reply_chk_pw
                </div>//reply_box

                <div class="reply_box">
                  <div class="profile">
                    <img src="images/sub/story/profile_test.png" alt="">
                  </div>
                  <div class="info">
                    <p class="name">test22</p>
                    <p class="date">2021.12.12 00:00</p>
                  </div>
                  <div class="text">
                    테스트 댓글입니다.222
                  </div>
                  <div class="btn">
                    <a href="javascript:;" title="" class="re_reply">댓글</a>
                    <a href="javascript:;" title="" class="re_write">수정</a>
                    <a href="javascript:;" title="" class="re_delete">삭제</a>
                  </div>

                  <div class="re_write_wrap reply_write_as">
                    <h3>답변달기</h3>
                    <textarea rows="3" class="w100"></textarea>
                    <div class="writer_info">
                      <input type="text" name="" maxlength="10" placeholder="글쓴이" class="writer">
                      <input type="password" name="" maxlength="4" placeholder="비밀번호" class="reply_pw">
                      <input type="text" name="" placeholder="홈페이지" class="reply_url">

                      <input type="button" name="" value="취소" class="btn_cancel">
                      <input type="button" name="" value="답변등록" class="btn_reply">
                    </div>
                  </div>//re_write_wrap
                </div>//reply_box -->

              </div><!-- //reply_list -->
              
              <div class="reply_write" th:if="${userId != null}">
                <textarea rows="3" class="w100" id="replyContent" placeholder="댓글입력"></textarea>
                <div class="writer_info">
                  <input type="text" name="replyWriter" maxlength="10" th:value="${userId}" id="replyWriter" class="writer" readonly="readonly">
<!--                   <input type="password" name="" maxlength="4" placeholder="비밀번호" class="reply_pw"> -->
                  <input type="text" name="" placeholder="홈페이지" class="reply_url">

                  <input type="button" name="" value="댓글등록" id="btnReplyRegister" class="btn_reply">
                </div>
              </div><!-- //reply_write -->
            </div><!-- //reply_wrap -->

          </div><!-- //board_detail -->
		
	</div>
</div>
</body>
</html>



